.card{
    font-family: 'Inter', sans-serif;
    margin-top: 21px
}

#quizCard .card-header, #courseProgressCard .card-header, #courseOverviewCard .card-header{
    color: #008DDA;
    font-size: 32px;
    font-weight: bold;
}

#courseProgressCard{
    margin-left: 37px;
}

.card-body{
    font-size: 16px
}

.subject{
    font-weight: bold;
}

a.btn{
    font-size: 12px
}

#quizCard{
    margin-left:21px;
    margin-right:37px
}

.progressValue{
    width: 37px;
    height: 18px;
    background-color: #008DDA;
    font-size: 10px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    border-radius:3px ;
}
.progress{
    width: 262px;
    margin-right: -100px
}

.ProgressCard{
    height: 100px
}

#courseOverviewCard{
    margin-left:37px;
    margin-right:37px
}

.pagination .page-link {
    color: #007bff; /* or another color */
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-item .page-link:hover {
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
