.faq-header {
    text-align: center;
    margin-bottom: 20px;
}
.faq-header h2 {
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    color:#008DDA;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.btn-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #000;
}
.btn-link {
    text-decoration: none;
}
.collapse-icon {
    margin-left: 10px;
}

.h5 {
    text-align: left;
    display: block;
    color: #000 !important; /* Menambahkan !important untuk memastikan aturan warna ini diterapkan */
}


.btn-link {
    position: relative; /* Menetapkan posisi relatif pada tombol */
}

.collapse-icon {
    position: absolute; /* Menetapkan posisi absolut pada ikon */
    right: 0; /* Menempatkan ikon di sebelah kanan tombol */
    color: #000 !important;
}
