.card{
    font-family: 'Inter', sans-serif;
    margin-top: 21px;
}

.card-body{
    font-size: 16px;
}

.btn{
    font-size: 12px;
}

.profile-card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}

.profile-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-card h4 {
    margin-top: 10px;
    margin-bottom: 0;
}

.profile-card .text-secondary {
    color: #6c757d;
}

.profile-card .font-size-sm {
    font-size: 14px;
}

.profile-card .btn-primary {
    margin-right: 5px;
}

.profile-card .btn-outline-primary {
    margin-left: 5px;
}

.profile-details {
    margin-top: 20px;
}

.profile-details .row {
    margin-bottom: 10px;
}

.profile-details .row hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-details .row:last-child {
    margin-bottom: 0;
}

.profile-details .col-sm-3 {
    font-weight: bold;
}

.profile-details .col-sm-9 {
    color: #6c757d;
}

.upload-container {
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    padding: 10px;
}

.border-container {
    border: 5px dashed rgba(198, 198, 198, 0.65);
    /*   border-radius: 4px; */
    padding: 20px;
}

.border-container p {
    color: #130f40;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-bottom: 0;
    opacity: 0.65;
}

#file-browser {
    text-decoration: none;
    color: rgb(22,42,255);
    border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
}

#file-browser:hover {
    color: rgb(0, 0, 255);
    border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
}

.icons {
    color: #95afc0;
    opacity: 0.55;
}